<h1><%= get_greeting_message() %></h1>
<button id="client-hello">Client hello</button>

<script type="module" src="assets/pucciniabasicpoc_nif.js"></script>
<script type="module" src="assets/main.js"></script>